<section>
  <title></title>

  <div my-nav></div>

  <div class="main-wrapper">
    <a href="#/new_message" class="btn btn-success">Nouveau</a>

          <div class="panel panel-success content"> <!-- ng-repeat="talk in unread_talks" -->
            <div class="panel-body">
              <ul class="breadcrumb">
                <li class="text-success" ng-bind="participant.first"></li><!-- ng-repeat="participant in unread_talks.participants" -->
              </ul>
              <table class="table-inbox">
                <tr>
                  <td class="cell-s">
                    <p class="fa fa-envelope fa-3x text-success"></p>
                  </td>
                  <td>
                    <b class="text-success" ng-bind="talk.last | limitTo: 100"></b>
                  </td>
                  <td>
                    <a href="" class="btn btn-success" ng-click="">Voir <i class="fa fa-arrow-right"></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="panel panel-default content"> <!-- ng-repeat="talk in read_talks" -->
            <div class="panel-body">
              <ul class="breadcrumb">
                <li ng-bind="participant.first"></li><!-- ng-repeat="participant in read_talks.participants" -->
              </ul>
              <table class="table-inbox">
                <tr>
                  <td class="cell-s">
                    <p class="fa  fa-envelope-open-o fa-3x text-muted"><p>
                    </td>
                    <td>
                      <p class="text-muted" ng-bind="talk.last | limitTo: 100"></p>
                    </td>
                    <td>
                      <a href="" class="btn btn-primary" ng-click="showTalk(talk)">Voir <i class="fa fa-arrow-right"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

</section>
