<header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/me">
        <i class="fa fa-apple"></i>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="users">
          <a href="#/users">Utilisateurs</a>
        </li>
        <li id="rides">
          <a href="#/rides">Trajets</a>
        </li>
        <li id="message">
          <a href="#/message">Messagerie
          <span class="badge" ng-bind="unread" ng-show="unread > 0"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="profil"><a href="#/profil/me" class="fa fa-user-circle-o fa-2x"></a></li>
        <li id="message"><a href="#/message" class="fa fa-comments-o fa-2x"></a></li>
        <li><a href="" class="fa fa-info-circle fa-2x"></a></li>
        <li><a href="" class="fa fa-power-off fa-2x"></a></li>
      </ul>
    </div>
  </div>
</nav>

</header>
