<section>
  <title></title>

  <div my-nav></div>

<div class="main-wrapper">
  <a href="#/message"><i class="fa fa-arrow-left fa-2x"></i></a>

  <div class="panel panel-default send">
    <div class="panel-heading">Nouveau Message</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Objet" ng-model="new.object"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Destinaire..." ng-model="new.toward" ng-change="validateUser(toward)"/>
        </div>
        <ul> <!-- ng-repeat="toward in towards"-->
          <li>{{ toward.name | uppercase }} {{ toward.first }} <i class="fa fa-times" ng-click=""></i></li>
        </ul>
        <div class="form-group">
          <textarea class="form-control txtarea" rows="4" ng-model="new.msg"></textarea>
        </div>
      </form>
      <a href="" class="btn btn-danger" ng-click="new = {}">Effacer</a>
      <a href="" class="btn btn-success" ng-click="newMessage(new)">Envoyer</a>
    </div>
  </div>

</div>

</section>
