<!-- -->
<section>
  <title ng-bind="user.name | uppercase + ' ' + user.first"></title>

  <!--<div ng-show="false" user-pop></div>-->
  <div my-nav class="nav-fix"></div>

  <div class="main-wrapper">

    <div class="profil-header">

      <div class="profil-section">
          <img src="toolbox/asset/images/default.png" width="150"/>
      </div>
      <div class="profil-section">
        <blockquote>
          <p ng-bind="user.name | uppercase + ' ' + user.first"></p>
          <p ng-bind="user.age + 'ans'"></p>
          <p ng-bind="'Bureau : ' + user.office"></p>
          <i class="fa fa-thumbs-up fa-2x text-info" aria-hidden="true" ng-bind="user.mark.up"></i>
          <i class="fa fa-thumbs-down fa-2x text-danger" aria-hidden="true" ng-bind="user.mark.down"></i>
        </blockquote>
      </div>
      <div class="profil-section">
        <blockquote>
          <img src="toolbox/asset/images/car.png" width="50" height="50"/>
          <p ng-bind="'Marque : ' + user.car.brand"></p>
          <p ng-bind="'Modèle : ' + user.car.model"></p>
          <p ng-bind="'Année : ' + user.car.year"></p>
        </blockquote>
      </div>

    </div><div style="clear:both;"></div>

    <hr/>

    <div class="profil">
      <a href="" class="btn btn-success" ng-click="rideProposal(user)">Proposer un Trajet</a>
      <a href="#/rides" class="btn btn-primary">Rechercher un Trajet</a>
      <a href="" class="btn btn-warning" ng-click="">Demandes <span class="badge" ng-bind=""></span></a>

      <!--
         - Comming Rides
       -->
      <div class="panel panel-default"><!--  -->
        <h3>
          Trajets à venir
          <a><i class="fa fa-chevron-down"></i></a>
          <a><i class="fa fa-chevron-up"></i></a>
        </h3>
        <div>

        <!-- Passenger Box -->
        <div class="panel panel-primary content"><!-- ng-repeat="ride in p_comming_rides" -->
          <div class="panel-heading">
            <h4 class="panel-title">Passager</h4>
          </div>
          <div class="panel-body">
            <table class="table-inbox">
              <tr>
                <td>
                  <a href="" ng-click="userPop(ride.user)">
                    <img src="toolbox/asset/images/default.png" width="100" height="100"/>
                  </a>
                </td>
                <td>
                  <p ng-bind="'Driver : ' + ride.user.name | uppercase + ' ' + ride.user.first"></p>
                  <p ng-bind="">{{ ride.departure }} <i class="fa fa-arrow-right fa-1x"></i> {{ ride.arrival }}</p>
                  <p ng-bind="'Le '+ ride.date + ' à ' + ride.hour"></p>
                  <p ng-bind="'Places Disponibles : ' + ride.seats"></p>
                </td>
                <td>
                  <i ng-show="false" class="fa fa-check-circle fa-3x text-success"></i>
                  <i ng-show="true" class="fa fa-exclamation-circle fa-3x text-warning"></i>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Driver Box -->
        <div><!-- ng-repeat="ride in d_comming_rides"-->

        <div class="panel panel-success content">
          <div class="panel-heading">
            <h4 class="panel-title">Conducteur</h4>
          </div>
          <div class="panel-body">
            <table class="table-inbox">
              <tr>
                <td class="cell-s">
                  <p>Trajet N°</p>
                  <h2 ng-bind="ride.number"></h2>
                </td>
                <td>
                  <p><b ng-bind="ride.departure"></b><i class="fa fa-arrow-right fa-1x"></i><b ng-bind="ride.arrival"></b></p>
                  <p ng-bind="'Le '+ride.date+' à '+ride.hour"></p>
                  <p ng-bind="'Vous proposez '+ride.seats+' places.'"></p>
                </td>
                <td>
                  <ul class="nav nav-pills">
                    <li class="active"><a href="">Demandes<span class="badge" ng-bind="ride.request"></span></a></li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="panel panel-default content">
          <div class="panel-body">
            <p class="text-primary times"><i class="fa fa-times fa-2x"></i></p>
            <p class="text-danger" ng-bind="'Attention, il ne vous reste que '+ride.remain+' places disponibles !'"></p>
            <p class="text-danger" ng-hide="ride.remain > 0">Vous n'avez plus de place disponible sur ce trajet</p>
            <table class="table-inbox">
              <tr colspan="2">
                <td><b>Participants à valider</b></td>
              </tr>
              <tr><!-- ng-repeat="participant in ride.asks" -->
                <td>
                  <p ng-bind"user.name | uppercase +' '+ user.first">
                </td>
                <td>
                  <i class="fa fa-times fa-2x text-danger" ng-click="refusePassenger(ride,participant)"></i>
                  <i class="fa fa-check fa-2x text-success" ng-click="acceptPassenger(ride,participant)"></i>
                </td>
              </tr>
            </table>
            <table class="table-inbox">
              <tr colspan="2">
                <td><b>Participants validés</b></td>
              </tr>
              <tr><!-- ng-repeat="participant in ride.accepted" -->
                <td>
                  <p ng-bind"user.name | uppercase +' '+ user.first">
                </td>
                <td>
                  <i class="fa fa-check-circle fa-2x text-success"></i>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

        </div>
      </div>

      <!--
         - Over Rides
       -->
      <div class="panel panel-default">
        <h3>
          Trajets passés
          <a href=""><i class="fa fa-chevron-down"></i></a>
          <a href=""><i class="fa fa-chevron-up"></i></a>
        </h3>
        <div>

        <!-- Passenger Box -->
        <div class="panel panel-primary content"><!-- ng-repeat="ride in p_over_rides" -->
          <div class="panel-heading">
            <h4 class="panel-title">Passager</h4>
          </div>
          <div class="panel-body">
            <table class="table-inbox">
              <tr>
                <td rowspan="2">
                  <a href="" ng-click="userPop(ride.user)">
                    <img src="toolbox/asset/images/default.png" width="100" height="100"/>
                  </a>
                </td>
                <td rowspan="2">
                  <p ng-bind="'Driver : ' + ride.user.name | uppercase + ' ' + ride.user.first"></p>
                  <p>{{ ride.departure }} <i class="fa fa-arrow-right fa-1x"></i> {{ ride.arrival }}</p>
                  <p ng-bind="'Le ' + ride.date + ' à ' + ride.hour"></p>
                  <p ng-bind="'Places Disponibles : ' + ride.seats"></p>
                </td>
                <td>
                  <p>Noter ce conducteur</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-thumbs-up fa-2x" ng-click="markDriverUp(ride.driver)"></i>
                  <i class="fa fa-thumbs-down fa-2x" ng-click="markDriverDown(ride.driver)"></i>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Driver Box -->
        <div><!-- ng-repeat="ride in d_over_rides" -->

        <div class="panel panel-success content">
          <div class="panel-heading">
            <h4 class="panel-title">Conducteur</h4>
          </div>
          <div class="panel-body">
            <table class="table-inbox">
              <tr>
                <td class="cell-s">
                  <p>Trajet N°</p>
                  <h2 ng-bind="ride.number"></h2>
                </td>
                <td>
                  <p><b ng-bind="ride.departure"></b><i class="fa fa-arrow-right fa-1x"></i><b ng-bind="ride.arrival"></b></p>
                  <p ng-bind="'Le '+ride.date+' à '+ride.hour"></p>
                  <p ng-bind="'Vous avez proposé '+ride.seats+' places.'"></p>
                </td>
                <td>
                  <ul class="nav nav-pills">
                    <li class="active">
                      <a href="">Passager(s)
                        <span class="badge" ng-bind="ride.passengers.length"></span>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="panel panel-default content">
          <div class="panel-body">
            <p class="text-primary times"><i class="fa fa-times fa-2x"></i></p>
            <table class="table-inbox">
              <tr colspan="2">
                <h4>Personnes ayant participées à ce trajet</h4>
              </tr>
              <tr><!-- ng-repeat="user in ride.participants" -->
                <td>
                  <p ng-bind"user.name | uppercase +' '+ user.first"></p>
                </td>
                <td>
                  <i class="fa fa-thumbs-up fa-2x" ng-click="markPassengerUp(ride,user)"></i>
                  <i class="fa fa-thumbs-down fa-2x" ng-click="markPassengerDown(ride,user)"></i>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>

      </div>
      </div>

      <!--
         - Refused Rides
       -->
      <div class="panel panel-default">
        <h3 class="text-danger">
          Trajets Refusés
          <a href=""><i class="fa fa-chevron-down"></i></a>
          <a href=""><i class="fa fa-chevron-up"></i></a>
        </h3>
        <div>

          <!-- Passenger Box -->
          <div class="panel panel-primary content"><!-- ng-repeat="ride in p_refused_rides" -->
            <div class="panel-heading">
              <h2 class="panel-title">Passager</h2>
            </div>
            <div class="panel-body">
              <table class="table-inbox">
                <tr>
                  <td class="cell-s">
                    <a href="" ng-click="userPop(ride.user)">
                      <img src="toolbox/asset/images/default.png" width="100" height="100"/>
                    </a>
                  </td>
                  <td>
                    <p ng-bind="'Driver : ' + ride.user.name | uppercase + ' ' + ride.user.first"></p>
                    <p>{{ ride.departure }} <i class="fa fa-arrow-right fa-1x"></i> {{ ride.arrival }}</p>
                    <p ng-bind="'Le ' + ride.date + ' à ' + ride.hour"></p>
                    <p ng-bind="'Places Disponibles : ' + ride.seats"></p>
                  </td>
                  <td>
                    <i class="fa fa-times-circle fa-3x text-danger"></i>
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>

</div>
</section>
