<section>
  <title>Les Trajets</title>

  <div user-pop></div>
  <div my-nav></div>

  <div class="main-wrapper">

    <div class="rides-head jumbotron"><!--panel panel-default  -->
      <h2>Rechercher un Trajet</h2>

      <form>
        <fieldset>
          <div class="s-component">
            <select class="form-control" ng-model="search.departure" ng-option="departure.name for departure in departures">
              <option value="">-- Lieu de Départ --</option>
            </select>
          </div>
          <div class="s-component">
            <select class="form-control" ng-model="search.arrival" ng-option="arrival.name for arrival in arrivals">
              <option value="">-- Lieu d'Arrivée --</option>
            </select>
          </div>
          <div class="s-component">
            <div datepicker></div>
          </div>
      </fieldset>
      <div style="clear: both"></div>
        <a href="" class="btn btn-primary" ng-click="searchRide(search,dt | date:'shortDate')">Rechercher</a>
    </form>
    </div>

    <div class="panel panel-default box"><!-- ng-repeat="ride in rides" -->
      <div class="panel-body">
        <div class="box-section">
          <a href="" ng-click="userPop(ride.user)">
            <img src="toolbox/asset/images/default.png" width="100" height="100"/>
          </a>
        </div>
        <div class="box-section">
          <p>Driver : {{ ride.user.name | uppercase }} {{ ride.user.first }}</p>
          <p>{{ ride.departure }} <i class="fa fa-arrow-right fa-1x"></i> {{ ride.arrival }}</p>
          <p>Le {{ ride.date }} à {{ ride.hour }}</p>
          <p>Places Disponibles : {{ ride.seats }}</p>
        </div>
        <div class="box-section check">
          <a ng-show="true" href="" class="btn btn-primary" ng-click="signin(ride)"><!--ng-show="ride.seats > 0"-->Je m'inscris !</a>
          <i ng-show="false" class="fa fa-check fa-3x text-success"></i>
        </div>
      </div>
      <div class="panel-footer">
        <a href="" ng-click="details = true">Plus <i class="fa fa-chevron-down fa-1x"></i></a>
      </div>
    </div>



    <div class="panel panel-default box" ng-show="details">
      <div class="panel-heading">
        <a href="" ng-click="details = false">Moins <i class="fa fa-chevron-up fa-1x"></i></a>
      </div>
      <div class="panel-body">

      </div>
    </div>

      <div style="clear: both"></div>

    </div>

</section>
